.loading {
	height: 42px;
	border: none;
	background: gray;
	padding: 10px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease; 
}
.loading:before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background: black;
	border-radius: 5px;
	transition: all 2s ease;
}
.loading:hover:before{
	width: 100%;
}
.circle{
	position: absolute;
	height: 25px;
  	width: 25px;
  	background-color: grey;
	  border-radius: 50%;
	  display: inline-block;
 	 -webkit-animation: moveandcolorchange 2s infinite;
}

@-webkit-keyframes moveandcolorchange {
	25% {
		position: absolute;
		transform: translate(95vw,0);
		background-color: red;
	}
	50%{
		position: absolute;
		transform: translate(95vw,93vh);
		background-color: green;
	}
	75% {
		position: absolute;
		transform: translate(0,93vh);
		background-color: blue;
	}
	100%{
		position: absolute;
		transform: translate(0,0);
		background-color: red;
	}
	
  } 
.ref1{
	color: red;
	text-decoration: underline;
}
.ref1:hover{
	transform: scaleX(-1) ;
}
.ref2{
	color: rgb(44, 248, 255);
	text-decoration: underline;
}
.ref2:hover{
	transform: scaleY(-1) ;
}
.ref3{
	color: yellow;
	text-decoration: underline;
}
.ref3:hover{
	transform: scaleX(-1) ;
}
.flex{
	background-color: black;
display: flex;
flex-direction: row;
}
.glass{
	margin-top: -200px;
	margin-left: 250px;
	position: absolute;
	display: block;
	background-color: transparent;
	width: 100px;
	height: 150px;
	border: 7px solid;
	border-color: black;
	border-top: 0;
}
.flow{
	position: absolute;
	background: rgb(107, 56, 14);
	width: 10px;
	height: 0;
	margin-top: 320px;
	margin-left: 300px;
	animation: flow 5s running linear;
}

@keyframes flow{
    from{
        height: 0%;
    }
    50%{
        height: 230px;
    }
    99%{
        height: 230px;
    }
    to{
        height: 0%;
    }
}
.fill{
	margin-top: 550px;
	margin-left: 257px;
	background: rgb(107, 56, 14); 
	position: absolute;
	width: 100px;
	height: 10px;
	animation-delay: 3s;
	animation:  fill 2s  running linear;
	animation-delay: 3s;
}
@keyframes fill{
 25%{
	 margin-top: 520px;
	height: 35px;
 }
 50%{
	margin-top: 500px;
	height: 60px;
 }
 75%{
	 margin-top: 480px;
	 height: 80px;
 }

 100%{
	 margin-top: 460px;
	height: 100px; 
 }  
}